/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.has-error {
	@apply border-red text-red;
}

.submit-tab-active, .h-submit-tab-active {
	@apply bg-blue text-white rounded;
}

.submit-tab-inactive, .h-submit-tab-inactive {
	@apply bg-grey-lighter text-grey-dark;
}

.follow {
	@apply bg-red text-white text-white;
}

.following {
	@apply border-red text-red;
}

.subscribe {
	@apply bg-teal text-white;
}

.subscribed {
	@apply bg-white text-teal border border-teal;
}

.nav-item {
	@apply text-grey-dark py-4 px-3 tracking-wide font-bold text-sm uppercase;
}

.nav-active {
	@apply border-b-2 border-blue text-blue;
}

textarea { resize: vertical; }

img { max-width: 100%; } 

a {
	@apply text-grey-darkest;
	text-decoration: none;
}
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
